GOOGLE_CLIENT_EMAIL=website-data-uploader@elegant-pipe-482117-h4.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPaste Your Full Downloaded Private Key Here\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1JMre1Y8VHci1g9xIUsonGs3An-O5LHsAjGSmqJOKx7Y
GOOGLE_DRIVE_FOLDER_ID=1x45OgefmVPkgO0BuOkSXjEhavGhe9cWT
